*
{
	margin: 0px;
	padding: 0px;
}

.gameArea
{
	height: calc(90vh - 20px);
	width: calc(100% - 20px);
	background: transparent;
	text-align: center;
	padding: 10px;
}

.toolsArea
{
	height: 10vh;
	width: 100%;
	background: transparent;
}

.sopaArea
{
	float: left;
	height: 100%;
	width: 70%;
	background: transparent;
}

.questionArea
{
	float: left;
	height: calc(100% - 40px);
	width: calc(30% - 20px);
	background: transparent;
	overflow-y: auto;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
}

.gridSopa
{
	margin-top: 20px;
	margin-left: calc(50% - 40vh);
	height: 80vh;
	width: 80vh;
}

.charSopa
{
	float: left;
	height: calc((80vh / 11) - 2px);
	width: calc((80vh / 11) - 2px);
	margin-right: 3.5px !important;
	margin-bottom: 3.5px !important;
	background: white;
	line-height: calc((80vh / 11) - 2px);
	text-align: center;
	text-transform: uppercase;
	border: solid 1px !important;
	font-size: 1.2em !important;
	margin-left: 0px !important;
	margin-top: 0px !important;  
}

.charSopa2
{
	float: left;
	height: calc((80vh / 11));
	width: calc((80vh / 11));
	margin-right: 3.5px !important;
	margin-bottom: 3.5px !important;
	background: white;
	line-height: calc((80vh / 11) - 2px);
	text-align: center;
	text-transform: uppercase;
	border: solid 1px !important;
	font-size: 1.2em !important;
	margin-left: 0px !important;
	margin-top: 0px !important;  
}

.btnNext
{
	height: 35px;
	width: 200px;
	float: right;
	border-radius: 13px;
}

.questionArea > textarea
{
	height: 80%;
	width: 60%;
	padding: 15px;
}

.btnVerif
{
	height: 80%;
	width: 250px;
	text-align: center;
	border-radius: 30px;
	float: right;
	margin-right: 25px;
}